<div class="footer">
  <p>
    <div class="subheader">
      VMP (CSGO-VIP Managemnt Panel) Made with &#10084; by
      <a href="https://github.com/Summer-16" target="_blank" class="subheader">Summer Soldier</a>
    </div>
  </p>
</div>