<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->

<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          VMP (CSGO-VIP Managemnt Panel)
        </li>
      </ul>
    </nav>
    <div class="copyright float-right" id="date">
      , made with <i class="material-icons danger-link">favorite</i> by
      <a href="https://github.com/Summer-16" target="_blank" rel="noopener noreferrer">Summer Soldier</a> for a better
      web.
    </div>
  </div>
</footer>

</div>
</div>

</body>

</html>

<script>
  const x = new Date().getFullYear();
  let date = document.getElementById('date');
  date.innerHTML = '&copy; ' + x + date.innerHTML;
</script>