<div class="header">
  <a href="#" class="logo">VMP</a>
  <div class="header-right">
    <a href="/">Home</a>
    <a href="/form">Admin Section</a>
    <a href="https://github.com/Summer-16" target="_blank">About Creator</a>

    <%if(sessionToken){%>
    <a href="/logout">Logout</a>

    <%}else{%>
    <a href="/login">Login</a>

    <%}%>

  </div>
</div>