<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMP-SS</title>
</head>

<body>
    <%- include('header.ejs') %>
    <div class="subheaderLogin"><strong>Admin Login</strong></div>
    <div class="formlayoutLogin">
        <form name="frmUser" method="post" action="/authuser" align="center">
            <label for="username">Username</label><br>
            <input type="text" name="username" placeholder="username"><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" placeholder="password">
            <br>
            <input type="submit" name="submit" value="Submit">
            <input type="reset">
            <% if(error) {%>
            <label><%=error%></label><br>
            <%}%>
        </form>
    </div>

    <%- include('footer.ejs') %>
</body>

</html>