<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->


<%- include('Header.ejs') %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">VMPanel Settings</h4>
            <p class="card-category">Coming Soon</p>
          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
      <%if(adminType===1){%>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add Panel Admin</h4>
            <p class="card-category">Form to add a new Admins in VMPanel</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter Username</label>
                    <input id="username_padd" type="text" class="form-control" required>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter Password</label>
                    <input id="password_padd" type="password" class="form-control" required>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Select Admin Type</label>
                    <select class="form-control" id="admintype_padd" required>
                      <option value="" selected>Select Admin Type</option>
                      <option value="1">Super Admin</option>
                      <option value="0">Normal Admin</option>
                    </select>
                  </div>
                </div>
              </div>
              <button type="button" onclick="addNewPAdminajax()" class="btn btn-success pull-right">ADD ADMIN</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Update Panel Admin</h4>
            <p class="card-category">Form to Change Password or Delete Panel Admin</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Select Admin</label>
                    <select class="form-control" id="selected_padmin" required>
                      <option value="" selected>Select Admin</option>
                    </select>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter New Password</label>
                    <input id="password_pupdate" type="password" class="form-control" required>
                  </div>
                </div>
              </div>
              <button type="button" onclick="deletePAdminajax()" class="btn btn-danger pull-left">DELETE</button>
              <button type="button" onclick="updateOldPAdminajax()" class="btn btn-success pull-right">UPDATE</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <%}%>

    </div>
  </div>
</div>


<%- include('Footer.ejs') %>
      <script>
        var curentAdminType =<%=adminType%>
      </script>
      <script src="./js/PanelSettings.js"></script>
      <script src="./js/customConfirm.js"></script>
      <script src="./js/notifications.js"></script>