<!-- 
/* Vip-Management-System-By-SUMMER_SOLDIER
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of Vip-Management-System-By-SUMMER_SOLDIER
*
* Vip-Management-System-By-SUMMER_SOLDIER is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* Vip-Management-System-By-SUMMER_SOLDIER is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* Vip-Management-System-By-SUMMER_SOLDIER. If not, see http://www.gnu.org/licenses/.
*/ -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/project.css" rel="stylesheet">
  <title>GG VIP Panel</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="header">
    <a href="ganggaming.in" class="logo">GanGGaminG</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/form">Admin Section</a>
      <a href="https://github.com/Summer-16" target="_blank">About Creator</a>
    </div>
  </div>
  <h1>Operattion Success</h1>
  <div class="main">
    <div class="subheader"><%=result%></div>
  </div>
  <div class="footer">
    <p>
      <a href="https://github.com/Summer-16" class="subheader">
        <div class="subheader">Made by Summer Soldier</div>
      </a>
    </p>
  </div>
</body>

</html>