<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2022 - Shivam Parashar
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->

<!-- Please do not remove this page or my credits , as a creator I deserve the credit for what i made -->

<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left footer-panel-info">
      <ul>
        <a href="https://github.com/Summer-16/CSGO-VMPanel" target="_blank" rel="noopener noreferrer">
          <li class="text-secondary">
            VMP (CSGO-VIP Management Panel) (v1.10 - Beta )
          </li>
        </a>
      </ul>
    </nav>
    <div class="copyright float-right" id="date">
      , made with <i class="material-icons <%=panelSetting.color_theme%>-link">favorite</i> by
      <a href="https://github.com/Summer-16" target="_blank" rel="noopener noreferrer" id="footer_name_id">Summer
        Soldier</a> for the
      Community.
    </div>
  </div>
</footer>

<!--Confirm Modal -->
<div class="modal fade" id="userConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="userConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header primary">
        <h5 class="modal-title" id="userConfirmationModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body primary" id="userConfirmationModal-body">
      </div>
      <div class="modal-footer primary">
        <button type="button" class="btn btn-success ok" id="userConfirmationModal-yes">Yes</button>
        <button type="button" class="btn btn-danger cancel" id="userConfirmationModal-no">No</button>
      </div>
    </div>
  </div>
</div>
<!--Confirm Modal -->

<!-- loader -->
<div id="divForLoader"></div>
<!-- loader -->

</div>
</div>
</body>

</html>

<script>
  $(document).ready(function() {
    const x = new Date().getFullYear();
    let date = document.getElementById('date');
    date.innerHTML = '&copy; ' + x + date.innerHTML;
  });
</script>
<script src="./js/utils.js"></script>