<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->

<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header card-header-<%=panelSetting.color_theme%> card-header-icon">
      <div class="card-icon" id="dp_div">
        <i class="material-icons">person</i>
      </div>
      <p class="card-category" id="display_name">User's Name</p>
      <h3 class="card-title" id="display_steamId">User's Steam Id</h3>
    </div>
    <div class="card-footer">
      <form class="col-md-12">
        <div class="row">
          <div class="col-md-10">
            <div class="form-group bmd-form-group">
              <label class="bmd-label-floating">Enter User's Steam Profile URL to fetch Details</label>
              <input type="url" name="steam_URL" class="form-control" id="steam_URL" required>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group bmd-form-group">
              <button type="button" onclick="profileUrlToDataFetcher($('#steam_URL').val())"
                class="btn btn-success pull-right">Fetch Data</button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>